[Unit]
Description=device certs server service
Wants=network-online.target systemd-time-wait-sync.service
After=network-online.target systemd-time-wait-sync.service
Before=nginx.service
Wants=nginx.service

[Service]
WorkingDirectory=/etc/certs
ExecStart=/usr/bin/device-certs

[Install]
WantedBy=multi-user.target
