[Unit]
Description=resize partition service
Before=bitcoind.service

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/resize-part

[Install]
WantedBy=basic.target
