# Disable unnecessary commands to harden U-Boot
CONFIG_CMD_BOOTD=n
CONFIG_BOOTM_EFI=n
CONFIG_CMD_BOOTZ=n
CONFIG_CMD_BOOTI=y
CONFIG_BOOTM_NETBSD=n
CONFIG_BOOTM_OPENRTOS=n
CONFIG_BOOTM_OSE=n
CONFIG_BOOTM_PLAN9=n
CONFIG_BOOTM_RTEMS=n
CONFIG_BOOTM_VXWORKS=n
CONFIG_CMD_BOOTEFI=n
CONFIG_CMD_ELF=n
CONFIG_CMD_GO=n
CONFIG_CMD_MEMORY=n
CONFIG_CMD_NET=n
CONFIG_CMD_UBI=n
CONFIG_VIDEO=n

