set timeout=2

menuentry "Primary Root" {
    linux (hd0,gpt1)/bzImage-qemux86-64.bin root=/dev/sda2 loglevel=7 rw console=ttyS0,115200 ima_appraise=log
}

menuentry "Secondary Root" {
    linux (hd0,gpt2)/bzImage-qemux86-64.bin root=/dev/sda3 loglevel=7 rw console=ttyS0,115200 ima_appraise=log
}
