set timeout=2

menuentry "Root Primary" {
    linux (hd0,gpt1)/bzImage root=/dev/sda2 loglevel=7 rw console=ttyS0,115200 ip=192.168.7.2::192.168.7.1:255.255.255.0
}

menuentry "Root Secondary" {
    linux (hd0,gpt2)/bzImage root=/dev/sda3 loglevel=7 rw console=ttyS0,115200 ip=192.168.7.2::192.168.7.1:255.255.255.0
}
