# Enable module signature verification
CONFIG_MODULES=y
CONFIG_MODULE_SIG=y
CONFIG_MODULE_SIG_FORCE=y
CONFIG_MODULE_SIG_SHA256=y
CONFIG_MODULE_SIG_KEY_TYPE_ECDSA=y
CONFIG_MODULE_SIG_KEY="modsign_key.pem"
