# Disable debug 
CONFIG_KALLSYMS=n
CONFIG_KALLSYMS_ALL=n
CONFIG_DEBUG_KERNEL=n
CONFIG_DEBUG_MISC=n
CONFIG_DEBUG_INFO=n
CONFIG_DEBUG_FS=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_PROC_KCORE=n
CONFIG_FTRACE=n
CONFIG_FUNCTION_TRACER=n
CONFIG_DYNAMIC_FTRACE=n
CONFIG_STACKTRACE=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_KPROBES=n
CONFIG_NETWORK_FILESYSTEMS=n
