# Disable multimedia/display stack
CONFIG_MEDIA_SUPPORT=n
CONFIG_VIDEO_DEV=n
CONFIG_V4L2_FWNODE=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_VIDEOBUF2_MEMOPS=n
CONFIG_VIDEOBUF2_V4L2=n
CONFIG_DRM=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_FB=n
CONFIG_FRAMEBUFFER_CONSOLE=n
